<launch>

    <!-- rviz -->
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find vins_fusion)/../config/vins_rviz.rviz" />

    <node name="vins_node" pkg="vins_fusion" type="kitti_odom_test" output="screen" 
    args="$(find vins_fusion)/../config/kitti_odom/kitti_config00-02.yaml  /media/ubuntu/harddisk1/dataset/kitti_odmetry_data/dataset/sequences/00" 
    />

</launch>
