<launch>

	<!-- rosbag play  使用回放bag的方式来测试ORB-SLAM -->
	
	<!-- <node pkg="rosbag" type="play" name="play" args=" pause /home/hualong/ssd/datasets/TJU-stereo/test1-VGA-60.bag" output="screen" >
   </node> -->



	<!-- rviz node  查看 ORB-SLAM tracking and mapping
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find ORB_SLAM)/Data/rviz.rviz" output="log">
   </node> -->

	<!-- ORB-SLAM node  根据输入的单目图像帧序列，追踪相机位姿，并构建稀疏 关键点地图 -->
	<!-- cwd="node" 参数让node 与工程同目录，这样可以保证KeyFrameTrajectory.txt 输出在工程目录下 -->
 	<node pkg="orb_slam2" type="mynteye_d_stereo" name="mynteye_d_stereo"  args="/home/ubuntu/coding/ORBvoc/ORBvoc.txt  
	 $(find orb_slam2)/config/stereo/mynteye_d_stereo-VGA.yaml ONLINE_RECTIFICATION
	  /mynteye/left/image_color  /mynteye/right/image_color" cwd="node" output="screen">
   </node>


</launch>
