<launch>

	<!-- rosbag play  使用回放bag的方式来测试ORB-SLAM -->
	
	<node pkg="rosbag" type="play" name="play" args="--pause  /home/hualong/ssd/datasets/SLAM/TUM-dataset/rgbd_dataset_freiburg3_long_office_household.bag" output="screen" >
	<remap from="/camera/rgb/image_color" to="/camera/rgb/image_raw" /> 
	<remap from="/camera/depth/image" to="/camera/depth_registered/image_raw" /> 
   </node>



	<!-- rviz node  查看 ORB-SLAM tracking and mapping
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find ORB_SLAM)/Data/rviz.rviz" output="log">
   </node> -->

	<!-- ORB-SLAM node  根据输入的单目图像帧序列，追踪相机位姿，并构建稀疏 关键点地图 -->
	<!-- cwd="node" 参数让node 与工程同目录，这样可以保证KeyFrameTrajectory.txt 输出在工程目录下 -->
 	<node pkg="ORB_SLAM2" type="RGBD" name="RGBD"  args="$(find ORB_SLAM)/../ORBvoc/ORBvoc.txt  $(find ORB_SLAM2)/config/rgbd/TUM3.yaml" cwd="node" output="screen">
   </node>


</launch>
